.delete-head {
  display: inline-flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  font-size: 17px;
  border-bottom: 1px solid #993921;
  color: #993921;
}
.body-txt {
  color: #993921;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 100%;
}
